<?xml version="1.0" ?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="aurorion-aeonita"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.neoforged.devlaunch.Main"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value=" &quot;@C:\\Users\\Neto Spadoni\\Documents\\TI\\Mods\\aurorion-mod\\aurorion-aeonita\\build\\moddev\\clientRunProgramArgs.txt&quot;"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value=" &quot;@C:\\Users\\Neto Spadoni\\Documents\\TI\\Mods\\aurorion-mod\\aurorion-aeonita\\build\\moddev\\clientRunVmArgs.txt&quot; &quot;-Dfml.modFolders=aurorion_aeonita%%C:\\Users\\Neto Spadoni\\Documents\\TI\\Mods\\aurorion-mod\\aurorion-aeonita\\bin\\main;aurorion_core%%C:\\Users\\Neto Spadoni\\Documents\\TI\\Mods\\aurorion-mod\\aurorion-core\\bin\\main&quot;"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\Neto Spadoni\Documents\TI\Mods\aurorion-mod\aurorion-aeonita\run\client"></stringAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.STOP_IN_MAIN" value="false"></booleanAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"></booleanAttribute>
</launchConfiguration>